.sac {
  padding: 45px 0;

  @include media(lg) {
    padding: 90px 0;
  }

  .sac-via-apia {
    background: url("../images/fb4933ce-3340-41f2-bb01-aed3c4e89e13.png");
    border-radius: 20px;
    color: $primary-light-color;
    padding: 20px;

    @include media(lg) {
      padding: 45px;
    }

    h1 {
      font-size: 3.1rem;
      margin-bottom: 15px;

      @include media(lg) {
        font-size: 3.5rem;
      }
    }
    p,
    li {
      font-size: 1.4rem;
      line-height: 2.2rem;
      margin: 10px 0;
    }
    ul {
      padding-inline-start: 20px;
      li {
        list-style-type: disc;
      }
    }

    label {
      margin: 5px 0 15px;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
    .grid {
      align-items: center;

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input {
          @include Input("vermelho");
        }
        textarea {
          @include Input("vermelho");
          padding: 20px;
          height: 200px;
        }
      }
    }
  }
}

.sac-contato {
  padding-top: 35px;

  @include media(lg) {
    padding-top: 90px;
  }
  .item {
    @include media(lg) {
      display: grid;
      grid-template-columns: 1fr 4fr;
      gap: 20px;
      align-items: center;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    h3 {
      text-align: center;
      font-size: 2.8rem;
      padding: 10px 0;
      text-transform: capitalize;

      @include media(lg) {
        text-align: left;
      }
    }
    p {
      font-size: 1.4rem;
      line-height: 2.2rem;
      text-align: center;
      @include media(lg) {
        text-align: left;
      }
    }
  }
}

.wpforms-submit {
  background-color: $primary-light-color;
  border: none;
  font-size: 1.6rem;
  padding: 10px 20px;
  color: $primary-color;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 20px;
  transition: all 200ms ease-in;
  &:hover,
  &:focus,
  &:active {
    background-color: $secondary-color-gradient;
    color: $primary-light-color;
  }
}
#wpforms-error-noscript,
.wpforms-error-noscript,
.wpforms-hidden {
  display: none;
}
